<h1>Listing students</h1>

<table>
  <tr>
    <th>Name</th>
    <th>FavoriteMovie</th>
  </tr>

  <% @students.each do |student| %>
    <tr>
      <% if @students_name_hash[student.firstname].eql?(1) %>
        <td><%= student.name %></td>
      <% else %>
        <td><%= student.name_with_initial %></td>
      <% end %>
      <td><%= student.movie %></td>
    </tr>
  <% end %>
</table>
